body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #333;
}

#global-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#form-div {
    width: 600px;
    margin: 20px;
}

#markdownForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-div{
    display: flex;
    justify-content: start;
    align-items: center;
}

form {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    width: 600px;
    height: 560px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    overflow: auto;
}

textarea {
    height: 200px;
    width: 95%;
}

input[type="file"] {
    margin: 10px 0;
}